<div class="modal-dialog modal-sm">
    <div class="modal-content">
        <form role="form" action="{% url 'administrador:promedio_listar' instance.id %}" method="post">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                {% csrf_token %}
                <div style="text-align: center">
                    <h3>¿Desea eliminar el valor : {{ instance.value }}?</h3>
                </div>
                <br>
                <div style="text-align: center">
                    <button class="btn btn-danger" type="submit">Si, eliminar</button>
                    <button type="button" class="btn btn-default" onclick="return cerrar_modal()">
                        Cancelar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

  







