{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %} Reporte Contratos {% endblock title %}
{% block stylesheets %}
    {{ block.super }}

    <style>
        table {
            background-color: white;
            text-align: center;
            border-collapse: collapse;
            width: 100px;
        }

        th, td {
            padding: 1px;
        }

        thead {
            background-color: #41719C;
            border-bottom: solid 5px #F362D;;
            color: white;
        }

        tfoot {
            background-color: #41719C;
            color: #fff;
        }

        tr:nth-child(even) {
            background-color: #ddd;
        }

        tbody tr:hover td {
            background-color: #8adb3e;
            color: #28394d;
        }

        #buscar {
            color: white;
        }
    </style>
    <style>
        :after, :before {
            box-sizing: border-box;
        }

        a {
            color: #337ab7;
            text-decoration: none;
        }

        i {
            margin-bottom: 4px;
        }

        #center {
            font-size: 13px;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
        }

        .btn {
            display: inline-block;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            cursor: pointer;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
        }

        .btn-app {
            color: white;
            box-shadow: none;
            border-radius: 3px;
            position: relative;
            padding: 10px 15px;
            margin: 0;
            min-width: 60px;
            max-width: 80px;
            text-align: center;
            border: 1px solid #ddd;
            background-color: #f4f4f4;
            font-size: 12px;
            transition: all .2s;
            background-color: steelblue !important;
        }

        .btn-app > .fa, .btn-app > .glyphicon, .btn-app > .ion {
            font-size: 30px;
            display: block;
        }

        .btn-app:hover {
            border-color: #aaa;
            transform: scale(1.1);
        }

        .pdf {
            background-color: #dc2f2f !important;;
        }

        .excel {
            background-color: #3ca23c !important;
        }

        .csv {
            background-color: #e86c3a !important;
        }

        .imprimir {
            background-color: #8766b1 !important;
        }

        .glyphicon.glyphicon-save-file {
            font-size: 35px;
        }

        .selectTable {
            height: 40px;
            float: right;
        }

        div.dataTables_wrapper div.dataTables_filter {
            text-align: left;
            margin-top: 15px;
        }

        .btn-secondary {
            color: #fff;
            background-color: #4682b4;
            border-color: #4682b4;
        }

        .btn-secondary:hover {
            color: #fff;
            background-color: #315f86;
            border-color: #545b62;
        }

        .titulo-tabla {
            color: #606263;
            text-align: center;
            margin-top: 15px;
            margin-bottom: 15px;
            font-weight: bold;
        }

        .inline {
            display: inline-block;
            padding: 0;
        }

        .dropdown-menu a:hover {
            background-color: #ddd;
        }

        table.center-all td, th {
            text-align: center;
        }


    </style>
    <style>
        #oculto {
            visibility: hidden
        }

        ;
    </style>


{% endblock stylesheets %}
{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="row">
                <div class="col-md-4 col-sm-offset-8">
                    {% if messages %}
                        <ul class="message">

                            {% for message in messages %}
                                <div style="text-align: center"
                                     class="alert alert-success {{ message.tags }} alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <a href="#" class="del-msg">&times;</a>
                                    </button>
                                    {{ message }}

                                </div>
                            {% endfor %}


                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="page-title">
                <div class="title_right">
                    <h3>Gobierno Autonomo Departamental de Potosi </h3>
                </div>
            </div>

            <div class="row"><p>

            </p>


                <div id="accordion">
                </div>
                <div class="x_panel">
                    <div class="x_title">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary collapsed" data-toggle="modal"
                                data-target="#myModal">

                            <i class="fa fa-search-plus"></i>Buscar Registro
                            <span class="caret"></span>
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Buscar Registro</h4>


                                    </div>
                                    <div class="modal-body">
                                        <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12" {% if error %}
                                             style="display:block" {% else %} style="display: none" {% endif %}>
                                            <div class="alert"
                                                 style="background-color: rgba(255, 222, 222, 0.88);border-top: solid 3px rgba(255, 0, 0, 0.88)">
                                                <p style="color: black;" class="error">{{ error }}</p>
                                            </div>
                                        </div>
                                        <form action="/contratolargo/buscarUsr" method="get">
                                            <div class="container">

                                                <div class="row">


                                                    <div>

                                                        <div class="panel panel-default">
                                                            <div class="panel-thumbnail"></div>

                                                            <div class="panel-body">
                                                                <div class='col-sm-6'>
                                                                    <div class="form-group">
                                                                        <label for="exampleInputEmail1">Nro
                                                                            Factura</label>
                                                                        <div class='input-group'>
                                                                            <input type="number" name="num_fact" min="0"
                                                                                   pattern="^[0-9]+"
                                                                                   class="form-control" placeholder="">
                                                                            <span class="input-group-addon">
                                                                    <span class="glyphicon glyphicon-credit-card"
                                                                          style="color:black"></span>
                                                                </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class='col-sm-6'>
                                                                    <div class="form-group">
                                                                        <label for="exampleInputEmail1">DNI/NIT</label>
                                                                        <div class="input-group">
                                                                            <input type="number" name="cedula" min="0"
                                                                                   pattern="^[0-9]+"
                                                                                   class="form-control" placeholder="">
                                                                            <span class="input-group-addon">
                                                                    <span class="glyphicon glyphicon-dashboard"
                                                                          style="color:black"></span>
                                                               </span>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                            </div>

                                                        </div>

                                                    </div><!--/col-->

                                                </div>

                                            </div>


                                    </div>
                                    <div class="modal-footer">
                                        <div style="display: flex; ">
                                            <button type="submit" class="btn btn-info"><span style="color:white"
                                                                                             class="glyphicon glyphicon-search"></span>
                                                Buscar
                                            </button>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--fin modal-->

                        <!--
            <div class="card">
                    <div class="card-header" id="headingTwo">
                      <h5 class="mb-0">
                        <button  class="btn btn-primary collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              <i class="fa fa-search-plus"></i> BUSCAR REGISTROS
                              <span class="caret"></span>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                      <div class="card-body">
                           &nbsp&nbsp
                              <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12" {% if error %}
                             style="display:block" {%else%} style="display: none" {%endif%}>
                                  <div class="alert" style="background-color: rgba(255, 222, 222, 0.88);border-top: solid 3px rgba(255, 0, 0, 0.88)">                           
                                      <p style="color: black;"  class="error">{{error}}</p>
                                  </div>
                              </div>
                              <form action="/contratolargo/buscarUsr" method="get">
                                  <div class="container">
                                     
                                      <div class="row">
                                              
                                         
                                             <div class="col-sm-5 col-xs-6">
                                             
                                                 <div class="panel panel-default">
                                                 <div class="panel-thumbnail"></div>
                                                 <div class="panel-title" style="text-align: center">Filtro Buscar Registro</div>
                                                 <div class="panel-body">
                                                      <div class='col-sm-6'>
                                                              <div class="form-group">
                                                                  <label for="exampleInputEmail1">Nro Factura</label>
                                                                  <input type="number" name="num_fact"  min="0" pattern="^[0-9]+" class="form-control" placeholder="">  
                                                              </div>
                                                      </div>
                                                      <div class='col-sm-6'>
                                                              <div class="form-group">
                                                                  <label for="exampleInputEmail1">DNI/NIT</label>
                                                                  <input type="number" name="cedula" class="form-control" placeholder="">  
                                                              </div>
                                                          </div> 
                                                   
                                                  
                                                 </div>
                                               </div>
                                         
                                             </div>
                                             </div>
                                    
                                  </div >
                                  <div style="display: flex; ">
                                          <button type="submit" class="btn btn-info" ><span style="color:white" class="glyphicon glyphicon-search"></span> Buscar</button>
                                  </div>
                                 
                              </form>
                      </div>
                     
                    </div>
                  </div>-->

                        <ul class="nav navbar-right panel_toolbox">
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="x_content">
                            <div class="table-responsive">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <table align="center" border="1" height=60 width="100%" id="datatable"
                                           class="table table-striped jambo_table bulk_action table-bordered center-all ">
                                        <thead>
                                        <tr style="vertical-align: middle;">
                                            <th id="center" class="column-title">N°
                                            </td>
                                            <th id="center" class="column-title">Nombre</th>
                                            <th id="center" class="column-title">Dni/Nit</th>
                                            <th id="center" class="column-title">Fecha Inicial</th>
                                            <th id="center" class="column-title">Fecha Final</th>
                                            <th id="center" class="column-title">Fecha Deposito</th>
                                            <th id="center" class="column-title">Monto Total</th>
                                            <th id="center" class="column-title">Monto Depositado</th>
                                            <th id="center" class="column-title">Monto Faltante</th>
                                            <th id="center" class="column-title">Estado</th>
                                            <th id="center" class="column-title">Nombre Actividad</th>
                                            <th id="center" class="column-title">Numero Factura</th>
                                            <th id="center" class="column-title">Numero Deposito</th>
                                            <th id="center" class="column-title">Lugar</th>
                                            <th id="center" class="column-title">Espacio</th>
                                            <th id="center" class="column-title">Acciones</th>
                                        </tr>
                                        </thead>
                                        <tbody id="tags1">
                                        {% if filter %}
                                            {% for contratolargolistar in filter %}
                                                <tr style="vertical-align: middle;">
                                                    <td id="center">{{ forloop.counter }}</td>
                                                    <td id="center">{{ contratolargolistar.nombre }}</td>
                                                    <td id="center">{{ contratolargolistar.dni_nit }}</td>
                                                    <td id="center">{{ contratolargolistar.fecha_inicial |date:"d/m/Y h:i a" }}</td>
                                                    <td id="center">{{ contratolargolistar.fecha_final |date:"d/m/Y h:i a" }}</td>
                                                    <td id="center">{{ contratolargolistar.fecha_deposito |date:"d/m/Y h:i a" }} </td>
                                                    <td id="center">{{ contratolargolistar.monto_total }}.bs</td>
                                                    <td id="center">{{ contratolargolistar.monto_depositado }}.bs</td>
                                                    <td id="center">{{ contratolargolistar.monto_faltante }}.bs</td>
                                                    {% if contratolargolistar.estado %}
                                                        <td id="center">
                                                            <div class="dropdown">
                                                                <button class="badge bg-red  dropdown-toggle"
                                                                        type="button" data-toggle="dropdown"
                                                                        style="font-size: 9px">Activo
                                                                    <span class="caret"></span></button>
                                                                <ul class="dropdown-menu">
                                                                    <li><a style="font-size: 10px"
                                                                           href="{% url 'contratolargo:modificar' contratolargolistar.id %}">Pagar<span
                                                                            style="color: white"
                                                                            class="badge bg-blue-sky">{{ contratolargolistar.diastotales }}</span></a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    {% else %}
                                                        <td id="center"><span style="color: white;font-size: 9px"
                                                                              class="badge bg-info">Inactivo</span></td>
                                                    {% endif %}
                                                    <td id="center">{{ contratolargolistar.nombre_completo_actividad }}</td>
                                                    <td id="center">{{ contratolargolistar.numero_factura }} </td>
                                                    <td id="center">{{ contratolargolistar.numero_deposito }} </td>
                                                    <td id="center">{{ contratolargolistar.lugar_name }}</td>
                                                    <td id="center">{{ contratolargolistar.espacio_name }}</td>
                                                    <td id="center">
                                                        <div style="display: flex; ">
                                                            <div>
                                                                <a style="font-size: 12px;"
                                                                   class="btn btn-info btn-xs  "
                                                                   href="{% url 'contratolargo:contratolargo_actualizar' contratolargolistar.id %}">
                                                                    <span style="color: white;font-size: 10px;"
                                                                          class="glyphicon glyphicon-pencil "></span>
                                                                    Editar</a>
                                                            </div>
                                                            <div>
                                                                <a style="font-size: 12px;"
                                                                   class="btn btn-danger btn-xs"
                                                                   onclick="return abrir_modal('{% url 'contratolargo:contratolargo_eliminar' contratolargolistar.id %}')">
                                                                    <span style="color: white;font-size: 10px;"
                                                                          class="glyphicon glyphicon-trash"></span>
                                                                    Borrar</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% else %}
                                            <h3 style="text-align: center">No hay registros </h1>
                                        {% endif %}
                                        </tbody>

                                        <div id="popup" class="modal fade" role="dialog"></div>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    </div>


    <div>



    <script>
        function abrir_modal(url) {
            $('#popup').load(url, function () {
                $(this).modal('show');
            });
            return false;
        }

        function cerrar_modal() {
            $('#popup').modal('hide');
            return false;
        }
    </script>

{% endblock content %}

{% block javascripts %}
    {{ block.super }}
    <!-- Datatables -->



    <!--<script src="/static/vendors/js/moment.js"></script>-->


    <!-- <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>-->
    <!--
     <script src="/static/vendors/js/datetime-moment.js"></script>-->


    <!--<script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>-->
    <!--<script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="/static/vendors/jszip/dist/jszip.min.js"></script>
    <script src="/static/vendors/js/pdfmake.min.js"></script>
    <script src="/static/vendors/js/vfs_fonts.js"></script>
      <script src="/static/vendors/js/dataTables.buttons.min.js"></script>
      <script src="/static/vendors/js/buttons.flash.min.js"></script>
      <script src="/static/vendors/js/buttons.html5.min.js"></script>
      <script src="/static/vendors/js/buttons.print.min.js"></script>-->
    <!-- <script src="/static/vendors/js/pdfmake.min.js"></script>-->
    <!--<script>
        $(document).ready(function(){
            $('#datatable').each('.sumar',function(i){
                alert($(this).text());
            })
        });
    </script>-->
    <!--<script src="/static/images/gobierno.png"></script>-->
    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').focus()
        })
    </script>

    <script>

        $('#datatable').DataTable({
            "searching": false,
            "paging": true,
            "ordering": false,
            "info": false,
            "bFilter": false,
            "bLengthChange": false,
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
        });
    </script>
    <script>
        $(document).ready(function () {
            // messages timeout for 3 sec
            setTimeout(function () {
                $('.message').fadeOut('slow');
            }, 3000); // <-- time in milliseconds, 1000 =  1 sec
        });
    </script>
{% endblock javascripts %}