{% extends "base/base.html" %}
{% block title %} Form Validation {% endblock title %}
{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_right">
              <h3>Gobierno Autonomo Departamental de Potosi </h3>

        </div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">

              <ul class="nav navbar-right panel_toolbox">
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
                </p>
               <form method="post">
                {% csrf_token %}
                <h3>¿Desea eliminar el registro de {{ form.nombre }}?</h3>
                <button class="btn btn-danger" type="submit">Si, eliminar</button>
                 <a class="btn btn-success" href="{%   url 'contratolargo:buscarUsr' %}">Cancelar</a>
             </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block javascripts %}
  {{ block.super }}
  <!-- validator -->
  <script src="/static/vendors/validator/validator.js"></script>
{% endblock javascripts %}
